
<h1> Your Projects </h1>

<% projects.each(function(project) { %>
  <h2><a href="#/projects/<%= project.id %>"><%= project.escape('name') %></a></h2>
<% }) %>

// <input type="text" name="project[name]" class="add-project-text">
// 
// <input type="hidden" name="list[name]" value="current">
// <input type="hidden" name="list[project_id]">
// 
// <input type="hidden" name="list[name]" value="backlog">
// <input type="hidden" name="list[project_id]">
// 
// <input type="hidden" name="list[name]" value="icebox">
// <input type="hidden" name="list[project_id]">



<button class="add-project">Add Project</button>

