
<h1> Your Projects </h1>

<% projects.each(function(project) { %>
  <h2><a href="#/projects/<%= project.id %>"><%= project.escape('name') %></a></h2>
<% }) %>

<input type="text" name="project[name]" class="add-project-text">




<button class="add-project">Add Project</button>

