<div class="subheader">
	<div class="row">
	<h2><%= project.escape("name") %><span class="pull-right velocity ">velocity▾
	    <span class="velocityNum"><%= project.escape('velocity') %></span></span>
	</h2>
			<form class="editVelocity hidden form-inline" >
			  <button class="resetVelocity btn-primary btn-xs pull-right">save</button>
				<input type=text name=project["velocity"] value="<%= project.escape('velocity') %>" class="pull-right col-xs-1 newVel">
			</form>
	</div>

	<div class="row">
	<button class="doneButton btn btn-link">done</button>
	<button class="currentButton btn btn-default">current</button>
	<button class="backlogButton btn btn-default">backlog</button>
	<button class="iceboxButton btn btn-default">icebox</button>
	<button class="addStory pull-right btn btn-primary">Add Story</button>
	</div>
</div>

	<div id="lists" class="row">
	</div> 
