/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.hidden {
	display: none;
}

ul {
  min-height: 12px;
}

$navbar-default-bg: #256188;
$navbar-default-color: #FFF;
$navbar-default-link-color: #FFF;
$navbar-default-link-active-color: #FFF;
$navbar-default-link-active-bg: #FFF;
$navbar-default-link-disabled-color: #FFF;
$nav-disabled-link-color: #FFF;
$brand-primary: #256188;
$navbar-height: 35px;
$navbar-border-radius: 0px;

@import "bootstrap";