/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.hidden {
	display: none;
}

.listName {
	float: left;
//	display: inline-block;
//min-width: 400px;
	width: 32.5%;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	min-width: 250px;
	margin: 2px;
	background-color: lightgray;
}



html,body {
	height: 100%;
}

#lists {
	margin-left: 0.5%;
	min-width: 900px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.stories {
//	vertical-align: baseline;
		height: 1000px;
}

.storyShow {
	min-height: 30px;
//	height: 100%;
	background-color: #eeeeee;
	margin-top: 1px;
}

.weekShow {
	min-height: 15px;
//	height: 100%;
	background-color: #A9A9A9;
	margin-top: 1px;
	margin-bottom:0;
	padding-left: 5px;
}

.subheader {
	background-color: #eeeeee;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 1%;
}

.thisisalist {
	color: white;
	background-color: #333;
	padding: 5px;
	margin-bottom: 0%;
	margin-top: 0%;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

.frmPreselect {
	margin: 1px;
}

div.icebox li {
	background-color: #6BB9F0;
}

.btn {
	margin-right: 1px;
	margin-top: 1px;
	outline: none;
	box-shadow:none !important;
}

.btn-link {
	outline: none;
	border: solid;
	box-shadow:none !important;
}

.btn-xs {
	margin-top: auto;
}
div.listName ul {
	padding: 0;
	margin: 0;
}

.add-project-text {
	margin-left: 2.5%;
	margin-right: 0.5%;
}
.form-inline {
	margin-bottom: 1%;
}

span.storyText {
	/* essential */
  display: inline-block;
//	text-overflow: ellipsis;
	width: 145px;
	word-wrap: break-word;
	margin-top: 5px;
	margin-left: 2px;
	
	/* for good looks */
}

.projectName {
	border: solid;
	text-align: center;
	float: left;
	margin: 1%;
	padding: 5%;
}

.started {
	background-color: #f3f3d1;
}

.accepted {
	background-color: #daebcf;
}

.gold {
	color: #F5AB35;
}

.bug {
	color: #96281B;
}

.chore {
	color: darkgray;
}

.edit, .save, .cancel {
	margin-left: 2px;
	margin-top: 5px;
}

.trash {
	margin-top: -1px;
}

//story edit form

.editForm {
	padding-left: 5px;
	background-color: #eeeeee;
	padding-bottom: 10px;
}

.description {
	width: 100%;
}

.inline {
	display: inline;
}

.glyphicon {
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 5px;
}

//story show form

.num {
	margin-top: 3px;
}

$line-height-base: 1;
//$btn-default-color: gray;
//$btn-default-bg: gray;
$btn-default-border: gray;
$navbar-margin-bottom: 0px;
$navbar-default-bg: #256188;
$navbar-default-color: #FFF;
$navbar-default-link-color: #FFF;
$navbar-default-link-active-color: #FFF;
$navbar-default-link-active-bg: #FFF;
$navbar-default-link-disabled-color: #FFF;
$nav-disabled-link-color: #FFF;
$brand-primary: #256188;
$navbar-height: 35px;
$navbar-border-radius: 0px;

@import "bootstrap";