<div class="listName <%= list.escape('name') %>">
	<h3 class="<%= list.escape('name') %>List thisisalist"><%= list.escape('name') %></h3>
	<ul>
	<li class="iceboxList1">
	</ul>
	<ul class="stories" data-id="<%= list.escape('id') %>">
</div>

</ul>